<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <dependentAssembly>
    <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="6.0.0.0" />
  </dependentAssembly>
<connectionStrings><add name="ClientSensorLocationEntities" connectionString="metadata=res://*/Data.ClientSensorLocationEntities.csdl|res://*/Data.ClientSensorLocationEntities.ssdl|res://*/Data.ClientSensorLocationEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZLISOVAC\SQLEXPRESS;initial catalog=ClientSensorLocation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
  